*.swp
*.bak
*.tmp

/config/database.yml
/config/secrets.yml
/config/application.yml
/config/master.key

/log/*
/tmp/*

/vendor/bundle/
/node_modules/

.yarn-cache

.env
.env.*
.env.local
.env.development
.env.test
.env.production

*.log
*.pid
.DS_Store
.idea/
.vscode/
coverage/
public/assets/
public/packs/
/public/packs-test/
/public/system/

/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-wal

/tmp/cache/
/tmp/sockets/